<app-modal [modal]="modal"></app-modal>

<div class="incidents-compact-overview" *ngIf="incidents !== undefined">
  <div class="incidents-compact-header" (click)="openModal($event)">
    <span>Incidents {{incidents.length}}</span>
    <span><em class="fa fa-location-arrow"></em></span>
  </div>
  <div class="incidents-compact-body">
    <div class="incidents-compact-item" *ngFor="let incident of incidents">
      <div class="incidents-item-message-wrapper">
        <span>{{incident.message}}</span>
        <span><span class="severity-holder"><em class="fa {{incidentIcon(incident.severity)}}"></em></span></span>
      </div>
      <span><a href="{{incident.url}}" *ngIf="incident.hasOwnProperty('url')">Open link</a></span>
    </div>
  </div>
</div>
