$padding: 6px 20px;

.incidents-compact {

  .severity-block {

  }
  &-overview {
    .low {
      border: 4px solid rgba(0, 128, 0, 0.30);
    }

    .medium {
      border: 4px solid rgba(255, 165, 0, 0.30);
    }

    .high{
      border: 4px solid rgba(255, 0, 0, 0.30);
    }
  }

  &-header {
    padding: $padding;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    position: sticky;
    top: 0;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    cursor: pointer;

    em {
      font-size: 20px;
    }
  }

  &-body {
    .incidents-item-message-wrapper {
      display: flex;
      justify-content: space-between;
    }
  }

  &-item {
    padding: $padding;
    background-color: #fff;
    width: 100%;
    border-radius: 6px;
  }
}


.incidents-compact-modal {
  max-height: 85vh;
  overflow-y: scroll;
  margin-bottom: 80px;

  .modal-header {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 1;

    .modal-title {
      color: #2f2f2f;
    }
  }

  .modal-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
  }
}
