$padding: 6px 20px;

.incidents-compact {
  &-overview {
    background-color: #fff;
    border-radius: 6px;
  }

  &-header {
    padding: $padding;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    position: sticky;
    top: 0;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    cursor: pointer;

    em {
      font-size: 20px;
    }
  }

  &-body {
    .incidents-item-message-wrapper {
      display: flex;
      justify-content: space-between;
    }
  }

  &-item {
    padding: $padding;
    width: 100%;

    &:nth-child(odd) {
      background-color: #ccc;
    }

    .severity-holder {
      .low-severity {
        color: green;
      }

      .medium-severity {
        color: orange;
      }

      .high-severity {
        color: red;
      }
    }
  }
}


.incidents-compact-modal {
  max-height: 85vh;
  overflow-y: scroll;
  margin-bottom: 80px;

  .modal-header {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 1;

    .modal-title {
      color: #2f2f2f;
    }
  }

  .modal-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
  }
}
