$padding: 6px 20px;

.incidents-compact {
  &-header {
    padding: $padding;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    position: sticky;
    top: 0;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    cursor: pointer;

    .open-modal {
      font-size: 20px;
    }
  }

  &-item {
    padding: $padding;
    background-color: #fff;
    width: 100%;
    border-bottom: 1px solid #ccc;

    &-header {
      display: flex;
      justify-content: space-between;
      color: #565656;
      font-size: 14px;

      .severity-icon {
        margin-left: 10px;
      }
    }

    .severity-icon {
      font-size: 18px;
    }

    &.low .severity-icon {
      color: #228b22;
    }

    &.medium .severity-icon {
      color: #ffb801;
    }

    &.high .severity-icon {
      color: #ff0000;
    }
  }

  &-empty {
    text-align: center;
    padding: 14px 0;
    border-bottom: 0;
  }
}
