<app-modal [modal]="modal"></app-modal>

<div class="incidents-compact-overview" *ngIf="incidents !== undefined">
  <div class="incidents-compact-header" (click)="openModal($event);">
    <span>Incidents <span class="badge badge-pill badge-secondary">{{incidents.length}}</span></span>
    <span><em class="fa fa-location-arrow open-modal"></em></span>
  </div>
  <div class="incidents-compact-body">
    <div class="incidents-compact-search">
      <input type="text" class="form-control" placeholder="Search by incident number" [(ngModel)]="searchNumber"/>
    </div>
    <div class="incidents-compact-item" [ngClass]="incident.severity" *ngFor="let incident of incidents | filter:searchNumber">
      <div class="incidents-compact-item-header">
        <span>{{incident.filed | date: "HH:mm:ss"}} | {{incident.filed | date : 'dd/MM/yy'}}</span>
        <span>{{incident.id}} <em class="fa fa-exclamation-circle severity-icon"></em></span>
      </div>
      <div class="incidents-compact-item-body">
        {{incident.message}}
      </div>
      <span><a href="{{incident.url}}" *ngIf="incident.hasOwnProperty('url')">Open link</a></span>
    </div>
    <div class="incidents-compact-item incidents-compact-empty" *ngIf="incidents.length === 0">
      No incidents found
    </div>
  </div>
</div>
