$background-primary-color: #e2e2e2;
$background-primary-color-dark: #3c465a;

$background-secondary-color: #ffffff;
$background-gray-secondary-color: #cecece;
$background-secondary-color-dark: #222c40;

$inner-background-color: #D1D1D1;

$background-header-color: #ffffff;
$background-header-color-dark: #4d5c79;

$background-navigation-color: #eaeaea;
$background-navigation-color-dark: #303a4e;

$text-primary-color: #000000;
$text-primary-color-dark: #eaeaea;

$text-secondary-color: #585858;
$text-secondary-color-dark: #c9c9c9;

$config: (
  --background-primary-color: ($background-primary-color, $background-primary-color-dark),
  --background-secondary-color: ($background-secondary-color, $background-secondary-color-dark),
  --background-gray-secondary-color: ($background-gray-secondary-color, $background-secondary-color-dark),
  --inner-background-color: ($inner-background-color, $background-secondary-color-dark),
  --content-background-color: ($background-secondary-color, $background-primary-color-dark),
  --background-header-color: ($background-header-color, $background-header-color-dark),
  --background-navigation-color: ($background-navigation-color, $background-navigation-color-dark),
  --text-primary-color: ($text-primary-color, $text-primary-color-dark),
  --text-secondary-color: ($text-secondary-color, $text-secondary-color-dark),
);
