$background-primary-color: #e2e2e2;
$background-primary-color-dark: #404b5f;

$background-secondary-color: #ffffff;
$background-gray-secondary-color: #cecece;
$background-secondary-color-dark: #313c51;

$inner-background-color: #D1D1D1;

$background-header-color: #ffffff;
$background-header-color-dark: #313c51;

$background-navigation-color: #eaeaea;
$background-navigation-color-dark: #313c51;

$text-primary-color: #000000;
$text-primary-color-dark: #ffffff;

$text-secondary-color: #585858;
$text-secondary-color-dark: #e9e9e9;

$navigation-active-color: #079c49;
$navigation-active-color-dark: #56b043;

$config: (
  --background-primary-color: ($background-primary-color, $background-primary-color-dark),
  --background-secondary-color: ($background-secondary-color, $background-secondary-color-dark),
  --background-gray-secondary-color: ($background-gray-secondary-color, $background-secondary-color-dark),
  --inner-background-color: ($inner-background-color, $background-secondary-color-dark),
  --content-background-color: ($background-secondary-color, $background-primary-color-dark),
  --background-header-color: ($background-header-color, $background-header-color-dark),
  --background-navigation-color: ($background-navigation-color, $background-navigation-color-dark),
  --text-primary-color: ($text-primary-color, $text-primary-color-dark),
  --text-secondary-color: ($text-secondary-color, $text-secondary-color-dark),
  --navigation-active-color: ($navigation-active-color, $navigation-active-color-dark)
);
