$danger: #f66355;
$warning: #ffb44d;
$passed: #6dc193;
$unknown: #aeb5c1;

@mixin sm-phone-only {
  @media (max-width: 360px) {
    @content;
  }
}

@mixin md-phone-only {
  @media (max-width: 375px) {
    @content;
  }
}

@mixin lg-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}

@mixin md-tablet-only {
  @media (max-width: 900px) {
    @content;
  }
}
