.header-bar {
  width: 100%;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  height: 72px;
  padding: 0 16px;
  background: white;

  .logo-container {
    display: inline-block;
    padding: 19px 0;
  }
}

