<div class="container-fluid performances-container">
  <div class="row pie-charts-container">
    <div class="col-md-4">
      <app-pie-chart [pieChart]="pieData"></app-pie-chart>
    </div>
    <div class="col-md-4">
      <app-pie-chart [pieChart]="pieData"></app-pie-chart>
    </div>
    <div class="col-md-4">
      <app-pie-chart [pieChart]="pieData"></app-pie-chart>
    </div>
  </div>
  <div class="row line-charts-container">
    <div class="col-md-4">
      <app-line-chart [lineChart]="lineData"></app-line-chart>
    </div>
  </div>
  <div class="row bar-charts-container">
    <div class="col-md-6">
      <app-bar-chart [barChart]="barData"></app-bar-chart>
    </div>
  </div>
</div>
