<div class="container-fluid departments-container">
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-12 department-box" *ngFor="let department of departments; let index = index">
        <div class="department-box-header" (click)="toggleInformation($event)">
          <span>
            <em class="fa fa-chevron-right toggle-body"></em>
            <h3 *ngIf="!isMobile" class="department-name" routerLink="{{department.cleanUrl}}"
                (click)="$event.stopPropagation()">{{department.department}}</h3>
            <h3 *ngIf="isMobile" class="department-name">{{department.department}}</h3>
          </span>

          <em class="fa fa-external-link department-link" routerLink="{{department.cleanUrl}}"
              (click)="$event.stopPropagation()"></em>
        </div>
        <div class="department-box-body">
          <div class="department-box-body-wrapper">
            <div class="row main-statistics" *ngIf="department.performances !== undefined">
              <div class="col-6 col-md-6 col-lg-3">
                Employees: {{department.employees}}
              </div>
              <div class="col-6 col-md-6 col-lg-3">
                Vulnerability: {{department.statistics.data.vulnerability}}
              </div>
              <div class="col-6 col-md-6 col-lg-3">
                In year performance: {{department.statistics.data.yearPerformance}}%
              </div>
              <div class="col-6 col-md-6 col-lg-3">
                Overall performance: {{department.statistics.data.averagePerformance}}%
              </div>
            </div>
            <div class="department-incidents">
              <app-incidents-compact [departmentCode]="department.code"></app-incidents-compact>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
