@import "src/assets/scss/mixins";

.departments-container {
  width: 80%;
  margin: 15px auto;
  overflow-y: auto;
  height: calc(100vh - 87px);

  @include md-phone-only {
    width: 100%;
    padding: 0;
  }
}
