@import "~src/assets/scss/mixins";

.departments-container {
  width: 80%;
  margin: 15px auto;
  overflow-y: auto;
  height: calc(100vh - 87px);

  @include md-phone-only {
    width: 100%;
    padding: 0;
  }

  .department {
    &-box {
      padding: 5px;
      overflow: hidden;
      border-radius: 0.25rem;
      margin-bottom: 15px;
      background-color: #ffffff;

      &-header {
        padding: 6px;
        transition: 0.5s;
        display: flex;
        justify-content: space-between;
        cursor: pointer;

        .header-placement {
          em, h3 {
            display: inline;
          }

          em {
            margin-right: 20px;
          }

          @include md-phone-only {
            em {
              font-size: 14px;
            }
            h3 {
              font-size: 17px;
            }
          }
        }

        .toggle-body {
          width: 4%;

          @include md-phone-only {
            display: none;
          }
        }
      }

      &-body {
        max-height: 0;
        transition: 0.8s;

        &-wrapper {
          transition: 1s;
          padding: 0 12px 0 12px;
        }

        &.active {
          height: auto;
          max-height: 500px;
          position: relative;

          @include md-phone-only {
            padding: 4px 12px 0 12px;
          }
        }

        .main-statistics > div {
          padding: 10px 15px;
        }
      }
    }

    &-name {
      color: black;
      transition: 0.2s;

      @include md-phone-only {
        position: relative;
      }

      &:hover, &:focus {
        color: #199d4a;
        font-size: 22px;

        @include md-phone-only {
          color: #000000;
          font-size: 17px;
        }
      }
    }

    &-link {
      right: 15px;
      color: #b5b5b5;
      font-size: 18px;
      transition: 0.2s;

      &:hover, &:focus {
        color: #199d4a;
        transform: scale(1.2);
      }
    }

    &-incidents {
      max-height: 400px;
      overflow-y: auto;
      border-top: 1px solid #ccc;
    }
  }
}
