<div class="modal" #modalElement>
  <div class="modal-overlay" (click)="closeModal()"></div>
  <div class="modal-container">
    <div class="modal-header">
      <span>Dit is een modal</span>
      <em class="fa fa-times" (click)="closeModal()"></em>
    </div>
    <div class="modal-body">
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="closeModal()" *ngIf="modal?.buttons !== undefined && modal?.buttons?.includes('close')">Close</button>
      <button type="button" class="btn btn-primary" (click)="closeModal()" *ngIf="modal?.buttons !== undefined && modal?.buttons?.includes('save')">Save</button>
    </div>
  </div>
</div>
