@import "~src/assets/scss/mixins";
@import "~src/assets/scss/variables";

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: none;

  &-active {
    display: block;
  }

  &-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
  }

  &-container {
    background: var(--background-secondary-color);
    border-radius: $borderRadius;
    margin: 20px auto;
    width: 80%;
    max-height: 95vh;
    overflow-y: auto;
  }

  &-body {
    color: var(--text-primary-color);
  }

  &-header {
    color: var(--text-secondary-color);
    font-weight: 600;
    position: sticky;
    top: 0;
    background: var(--background-secondary-color);
    z-index: 1;

    .close-modal {
      font-size: 24px;
      cursor: pointer;
    }
  }

  &-footer {
    position: sticky;
    bottom: 0;
    background: var(--background-secondary-color);
    z-index: 1;
  }
}
