@import "src/assets/scss/mixins";

.incidents {
  display: block;
  width: 500px;
  height: auto;
  overflow: auto;
  position: relative;
  background-color: rgb(255, 255, 255, 0.3);
  margin: 90px 15px;
  box-shadow: 4px 4px 13px 3px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: 4px 4px 13px 3px rgba(0, 0, 0, 0.42);
  -webkit-box-shadow: 4px 4px 13px 3px rgba(0, 0, 0, 0.42);


  .box-header {
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    color: #ffffff;
    position: sticky;
    background-color: red;
    padding: 5px 0 5px 10px;
  }

  .message-container {
    overflow-y: scroll;

    .incident-message {
      width: auto;
      height: auto;
      border-radius: 5px;
      margin: 15px 2% 15px 2%;
      padding: 5px 5px 5px 5px;
      background-color: #ffffff;

      .message-link {
        text-decoration: underline;
      }

      .message-icon {
        color: red;
        font-size: 32px;
      }
    }
  }
}

@include lg-phone-only {
  .incidents {
    width: auto;
    max-height: 500px;
    top: 2em;

    .message-container {
      .message-text {
        font-size: 14px;
      }

      .incident-message {
        .message-icon {
          font-size: 35px;
        }
      }
    }
  }
}
