<div class="incidents">
  <div class="box-header">
    <a>High Security Risk Alerts</a>
  </div>

  <div class="message-container">
    <div class="incident-message">
      <div class="row">
        <div class="col-9">
          <a>Dit is een message en is heel leuk</a><br>
          <a href="#">Open reference in secure browser</a>
        </div>
        <div class="col-3 text-center">
          <a class="message-icon"><i class="fa fa-exclamation-circle"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
