<div class="incidents">
  <div class="box-header">
    <a>High Security Risk Alerts</a>
  </div>

  <div class="message-container">
    <div class="incident-message" *ngFor="let message of messages">
      <div class="row">
        <div class="col-9 message-text">
          <a>{{message.name}}</a><br>
          <a class="message-link" href="#">Open reference in secure browser</a>
        </div>
        <div class="col-3 my-auto">
          <a class="message-icon"><i class="fa fa-exclamation-circle"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
