.departments {


  .department-box {
    padding: 5px;
    margin-bottom: 15px;
    background-color: #ffffff;
    border-radius: 5px;
    cursor: pointer;

    .department-box-header {
      padding: 6px;

      .toggle-body {
        width: 4%;
      }

      .department-name {
        color: black;
        display: inline;

        &:hover {
          color: blue;
        }
      }
    }

    .department-box-body {
      height: 0;
      visibility: hidden;
      transition: 0.25s;
      cursor: default;

      &.active {
        padding: 6px 12px;
        visibility: visible;
        height: 300px;

        .main-statistics {
          height: auto;
        }
      }
    }
  }
}
