@import "~src/assets/scss/mixins";

.academy {
  &-header {
    background: var(--background-secondary-color);
    color: var(--text-primary-color);
    border-radius: 0.25rem;
    padding: 8px 12px;
    width: 100%;

    .progress-wrapper {
      margin: 15px;
      height: 40px;
      font-size: 1.25rem;
    }
  }

  &-row {
    margin-top: 30px;
    justify-content: space-between
  }
}

.charts {
  &-container {
    width: 100%;
    display: flex;
    justify-content: space-between;

    @include lg-phone-only {
      flex-direction: column;
    }
  }

  &-column {
    width: 32%;

    @include lg-phone-only {
      padding: 10px 0;
      width: 100%;
    }
  }
}

.progress-details {
  border-radius: 0.25rem;

  &-container {
    display: flex;
    justify-content: space-between;
    background: var(--background-secondary-color);
    color: var(--text-primary-color);
    padding: 15px;
  }

  &-column {
    text-align: center;
    flex-basis: 33.33%;

    .progress-count {
      font-size: 20px;

      &-todo {
        color: #60bfe2;
      }

      &-started {
        color: red;
      }

      &-done {
        color: green;
      }
    }
  }
}

.statistics-overview-column {
  background: var(--background-secondary-color);
  color: var(--text-primary-color);
  border-radius: 0.25rem;
  width: 32%;
  padding: 15px;
  margin-bottom: 20px;
  text-align: center;

  .statistics {
    font-weight: bold;
    color: var(--text-primary-color);
    font-size: 36px;
    opacity: 0.8;
  }

  .progress-todo{

    @include lg-phone-only {
      padding-top: 48px;
    }
  }
}
