<div id="academy-component">
  <div class="calculations">
    <div class="graphs">
      <div class="col-md-4" id="chart1">
        <app-pie-chart [chart]="certificatePercentage" ></app-pie-chart>
      </div>
      <div class="col-md-4" id="chart2">
        <app-pie-chart [chart]="progressPercentage" ></app-pie-chart>
      </div>
      <div class="col-md-4" id="chart3">
        <app-pie-chart [chart]="progressPercentage" ></app-pie-chart>
      </div>
    </div>
    <div class="col-md-10">
      <table class="table-responsive" id="academy-table">
        <tr>
          <th>Total Issues</th>
          <th>Average Hour</th>
          <th>Average Progress</th>
          <th>Average ReviewScore</th>
          <th>Average TrainerScore</th>
          <th>Total Quiz Attempts</th>
          <th>Total Passed Quizzes</th>
          <th>Total Certificates</th>
        </tr>
        <tr>
          <td>{{totalIssues}}</td>
          <td>{{avgHours}}</td>
          <td>{{avgProgress}}</td>
          <td>{{avgReviewScore}}</td>
          <td>{{avgTrainerReview}}</td>
          <td>{{quizAttempt}}</td>
          <td>{{quizScore}}</td>
          <td>{{yAmount}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
