@import "~src/assets/scss/mixins";

.academy-header {
  background-color: #fff;
  border-radius: 6px;
  padding: 8px 12px;
  width: 100%;

  .progress {
    margin: 15px;
    height: 40px;
  }
}

.charts {
  margin-top: 18px;
  justify-content: space-between;

  .chart-item, .text-item {
    background-color: #fff;
    text-align: center;
    border-radius: 6px;
    width: 30%;
  }

  .text-item {
    .percentage {
      font-weight: bold;
      font-size: xx-large;
      font-style: oblique;
      opacity: .8;
    }
  }
}
.academy-header{
  width: 100%;
}

.statistics-overview {
  &-body {
    width: 100%;
    display: flex;
    justify-content: space-between;

    @include md-phone-only {
      flex-direction: column;
    }
  }

  &-column {
    width: 35%;

    @include md-phone-only {
      width: 100%;
    }

    &.statistics-overview-main {
      width: 25%;
      font-size: 20px;
      text-align: center;
      display: flex;
      justify-content: space-evenly;
      border-top: 0;
      border-bottom: 0;
      padding: 10px 0;

      @include md-phone-only {
        width: 100%;
        border: 1px solid rgba(0, 0, 0, 0.3);
        border-left: 0;
        border-right: 0;
        margin: 0;
        padding: 20px 0;
      }

      span {
        display: block;


        &.total-incidents {
          color: #60bfe2;
        }

        &.open-incidents {
          color: red;
        }

        &.closed-incidents {
          color: green;
        }
      }
    }
  }
}
