<div class="container-fluid">
  <div class="row">
    <div class="academy-header">
      <h2>Academy</h2>
      <div class="progress">
        <div class="progress-bar bg-warning" role="progressbar" [ngStyle]="{'width': progPercentage }">{{progPercentage}}</div>
      </div>
    </div>
  </div>
  <div class="row charts">
    <div class="statistics-overview-body">
      <div class="chart-item">
        <app-bar-chart [chart]="barData"></app-bar-chart>
      </div>
      <div class="chart-item">
        <app-line-chart [chart]="lineData"></app-line-chart>
      </div>
      <div class="chart-item">
        <app-pie-chart [chart]="certificatePercentage"></app-pie-chart>
      </div>
    </div>
  </div>
  <div class="row charts">
    <div class="chart-item statistics-overview-column statistics-overview-main col">
      <div>
        Waiting
        <span class="total-incidents">{{totalIssues}}</span>
      </div>
      <div>
        In Progress
        <span class="open-incidents">{{openIssues}}</span>
      </div>
      <div>
        Done
        <span class="closed-incidents">{{yAmount}}</span>
      </div>
    </div>
  </div>
  <div class="row charts">
    <div class="chart-item text-item">
      <p>Average hours spent on Academy:</p>
      <p class="percentage">{{avgHours}}</p>
    </div>
    <div class="chart-item text-item">
      <p>Average review score on Academy:</p>
      <p class="percentage">{{avgReviewScore}}</p>
    </div>
    <div class="chart-item text-item">
      <p>Average trainer review on Academy:</p>
      <p class="percentage">{{avgTrainerReview}}</p>
    </div>
  </div>
  <div class="row charts">
    <div class="chart-item text-item">
      <p>Average hours spent on Academy:</p>
      <p class="percentage">{{avgHours}}</p>
    </div>
    <div class="chart-item text-item">
      <p>Average review score on Academy:</p>
      <p class="percentage">{{avgReviewScore}}</p>
    </div>
    <div class="chart-item text-item">
      <p>Average trainer review on Academy:</p>
      <p class="percentage">{{avgTrainerReview}}</p>
    </div>
  </div>
</div>
