<app-header *ngIf="isAuthenticated"></app-header>
<app-navigation *ngIf="isAuthenticated"></app-navigation>
<div class="section green">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras mollis erat orci, vel volutpat erat feugiat eu.
    Morbi non mauris diam. Quisque varius massa ut nibh tempus aliquam. Interdum et malesuada fames ac
    ante ipsum primis in faucibus. Duis ornare mattis tincidunt. Curabitur eu gravida libero. Ut tempor mi eu erat
    condimentum semper. Vestibulum efficitur, sem non feugiat molestie, purus erat blandit purus, non venenatis massa
    tellus in eros. Cras egestas, neque in commodo rutrum, risus diam eleifend nibh, in sollicitudin neque lacus
    quis arcu.
  </p>
</div>
