$padding: 6px 20px;

.incidents-compact {
  &-overview {
    background-color: #fff;
    border-radius: 6px;
  }

  &-header {
    padding: $padding;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  }

  &-body {
    max-height: 300px;
    overflow-y: scroll;

    .incidents-item-message-wrapper {
      display: flex;
      justify-content: space-between;
    }
  }

  &-item {
    padding: $padding;
    width: 100%;

    &:nth-child(odd) {
      background-color: #ccc;
    }

    .severity-holder {
      .low-severity {
        color: green;
      }

      .medium-severity {
        color: orange;
      }

      .high-severity {
        color: red;
      }
    }
  }
}
