<div class="container">
  <div class="row">
    <div class="col-12 col-lg-5 reports">
      <h2>Reports</h2>
      <div class="reports-container">
        <div class="reports-item" *ngFor="let report of reports">
          <div class="reports-item-header" (click)="openUp($event)">
            <span>
              <em class="fa fa-fw fa-chevron-right arrow"></em>
              <strong>{{report.name}}</strong>
            </span>
            <span>{{report.date}}</span>
          </div>
          <div class="reports-item-body">
            <div class="reports-item-body-container">
              <p>
                <strong>Department</strong> <br>
                {{report.department}}
              </p>
              <p>
                <strong>Subject</strong> <br>
                {{report.subject}}
              </p>
              <p>
                <strong>Severity</strong> <br>
                {{report.severity}}
              </p>
              <p>
                <strong>Description</strong> <br>
                {{report.description}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-5 new-report">
      <h2>Create a new report</h2>
      <form #reportForm="ngForm" (submit)="onSubmit(reportForm)" novalidate>
        <div class="form-group">
          <label for="name">Title</label>
          <input type="text" class="form-control" id="name" placeholder="Choose a short title"
                 name="name" required minlength="1" [(ngModel)]="nameInput" #name="ngModel">
          <small *ngIf="name.invalid && (name.dirty || name.touched)">Name is required</small>
        </div>

        <div class="form-group">
          <label for="department">Department</label>
          <select id="department" class="form-control" name="departmentInput" [formControl]="departmentControl" required>
            <option value="" selected disabled>Choose a department</option>
            <option *ngFor="let department of departments" value="{{department.department}}">
              {{department.department}}
            </option>
          </select>
          <small *ngIf="departmentControl.hasError('required') && departmentControl.touched">Please choose a department</small>
        </div>

        <div class="form-group">
          <label for="subject">Subject</label>
          <select id="subject" class="form-control" name="subjectInput" [formControl]="subjectInput" required>
            <option value="" disabled>Choose a subject</option>
            <option value="Subject 1" selected>Subject 1</option>
            <option value="Subject 2">Subject 2</option>
            <option value="Subject 3">Subject 3</option>
          </select>
          <small *ngIf="subjectInput.hasError('required') && subjectInput.touched">Please choose a subject</small>
        </div>

        <div class="form-group">
          <label for="severity">Severity level</label>
          <select id="severity" class="form-control" name="severityInput" [formControl]="severityInput" required>
            <option value="" disabled>Choose the severity level</option>
            <option value="low" selected>Low</option>
            <option value="medium">Medium</option>
            <option value="high">High</option>
          </select>
          <small *ngIf="severityInput.hasError('required') && severityInput.touched">Please choose a severity level</small>
        </div>

        <div class="form-group">
          <label for="description">Description</label>
          <textarea class="form-control" id="description" rows="3" placeholder="Explain the issue"
                    name="descriptionInput" ngModel></textarea>
        </div>

        <input type="submit" class="btn btn-primary" value="Create" [disabled]="!reportForm.valid">
      </form>
    </div>
  </div>
</div>
