@import 'src/assets/scss/_mixins.scss';

h1 {
  margin: 15px 0;
}

.reports {
  &-container {
    max-height: calc(100vh - 200px);

    @include md-tablet-only {
      max-height: unset;
    }
  }

  &-item {
    margin-bottom: 10px;

    &-header {
      width: 100%;
      cursor: pointer;
      border: 1px solid #d0cfcf;
      padding: 10px 15px;
      border-radius: 0.25rem 0.25rem 0 0;
      background: white;
      display: flex;
      justify-content: space-between;

      .arrow {
        margin-right: 7px;
        transition: transform 0.2s linear;

        &.open {
          transform: rotate(90deg);
        }
      }
    }

    &-body {
      transition: max-height 0.4s ease-out;
      max-height: 0;
      overflow: hidden;
      width: 100%;
      border: 1px solid #ced4da;
      background: white;
      border-top: 0;
      border-radius: 0 0 5px 5px;

      &.active {
        max-height: 500px;
        display: block;
      }

      &-container {
        padding: 15px 15px 0;
      }
    }

    .btn {
      box-shadow: none;
    }
  }
}
