<div class="container-fluid" *ngIf="department !== undefined">
  <div class="row">
    <div class="department-header">
      <h2>Department</h2>
      <div class="department-name">
        {{department.cleanUrl}}
      </div>
    </div>
  </div>
  <div class="row main-statistics">
    <div class="main-statistics-column" *ngFor="let statistic of department.statistics">
      <div class="main-tatistics-name">
        {{statistic.name}}
      </div>
      <div>
        {{statistic.data}}
      </div>
    </div>
  </div>
  <div class="row statistics-overview">
    <div class="statistics-overview-header">
      Overview
    </div>
    <div class="statistics-overview-body" *ngIf="incidentsStats !== undefined">
      <div class="statistics-overview-column">
        <app-bar-chart [chart]="barData"></app-bar-chart>
      </div>
      <div class="statistics-overview-column statistics-overview-main">
        <div>
          Total incidents
          <span class="total-incidents">{{incidentsStats.total}}</span>
        </div>
        <div>
          Open incidents
          <span class="open-incidents">{{incidentsStats.open}}</span>
        </div>
        <div>
          Closed incidents
          <span class="closed-incidents">{{incidentsStats.closed}}</span>
        </div>
      </div>
      <div class="statistics-overview-column">
        <app-bar-chart [chart]="barData"></app-bar-chart>
      </div>
    </div>
  </div>
  <div class="row details-row">
    <div class="col-md-6 col-12">
      <div class="row performances-container">
        <div class="col-md-4 col-12">
          <app-pie-chart [chart]="pieData"></app-pie-chart>
        </div>
        <div class="col-md-4 col-12">
          <app-pie-chart [chart]="pieData"></app-pie-chart>
        </div>
        <div class="col-md-4 col-12">
          <app-pie-chart [chart]="pieData"></app-pie-chart>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-12 incidents-overview">
      <div class="row">
        <app-incidents-compact [departmentCode]="department.code"></app-incidents-compact>
      </div>
    </div>
  </div>
</div>
