<div class="container-fluid" *ngIf="department !== undefined">
  <div class="row">
    <div class="department-header">
      <h2>Department</h2>
      <div class="department-name">
        {{department.department}}
      </div>
    </div>
  </div>
  <div class="row main-statistics" *ngIf="department.statistics !== undefined">
    <div class="main-statistics-column">
      <div class="main-statistics-name">
        Employees
      </div>
      <div *ngIf="department.statistics.data.employees !== null">
        {{department.statistics.data.employees}}
      </div>
    </div>
    <div class="main-statistics-column">
      <div class="main-statistics-name">
        Vulnerability
      </div>
      <div *ngIf="department.statistics.data.vulnerability !== null">
        {{department.statistics.data.vulnerability}}
      </div>
    </div>
    <div class="main-statistics-column">
      <div class="main-statistics-name">
        In year performance
      </div>
      <div *ngIf="department.statistics.data.yearPerformance !== null">
        {{department.statistics.data.yearPerformance}}%
      </div>
    </div>
    <div class="main-statistics-column">
      <div class="main-statistics-name">
        Overall performance
      </div>
      <div *ngIf="department.statistics.data.averagePerformance !== null">
        {{department.statistics.data.averagePerformance}}%
      </div>
    </div>
  </div>
  <div class="row statistics-overview">
    <div class="statistics-overview-header">
      Overview
    </div>
    <div class="statistics-overview-body" *ngIf="department.statistics !== undefined">
      <div class="statistics-overview-column">
        <app-bar-chart [chart]="incidentsBar"></app-bar-chart>
      </div>
      <div class="statistics-overview-column statistics-overview-main">
        <div>
          Total incidents
          <span class="total-incidents">{{department.statistics.incidents.total}}</span>
        </div>
        <div>
          Open incidents
          <span class="open-incidents">{{department.statistics.incidents.open}}</span>
        </div>
        <div>
          Closed incidents
          <span class="closed-incidents">{{department.statistics.incidents.closed}}</span>
        </div>
      </div>
      <div class="statistics-overview-column">
        <app-bar-chart [chart]="performancesBar"></app-bar-chart>
      </div>
    </div>
  </div>
  <div class="row details-row">
    <div class="col-md-6 col-12">
      <div class="row performances-container">
        <div class="col-md-4 col-12">
          <app-pie-chart [chart]="pieData"></app-pie-chart>
        </div>
        <div class="col-md-4 col-12">
          <app-pie-chart [chart]="pieData"></app-pie-chart>
        </div>
        <div class="col-md-4 col-12">
          <app-pie-chart [chart]="pieData"></app-pie-chart>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-12 incidents-overview">
      <div class="row">
        <app-incidents-compact [departmentCode]="department.code"></app-incidents-compact>
      </div>
    </div>
  </div>
</div>
