<div class="container-fluid">
  <div class="row">
    <div class="col-xl-4">
      <app-incident [headerInfo]="{color: '#e20000', name:'High Security Risks'}"
                    [incidents]="getIncidents('high')"></app-incident>
    </div>
    <div class="col-xl-4">
      <app-incident [headerInfo]="{color: '#ffb801', name:'Medium Security Risks'}"
                    [incidents]="getIncidents('medium')"></app-incident>
    </div>
    <div class="col-xl-4">
      <app-incident [headerInfo]="{color: '#228B22', name:'Low Security Risks'}"
                    [incidents]="getIncidents('low')"></app-incident>
    </div>
  </div>
</div>
