<div class="container-fluid">
  <div class="row">
    <div class="col-xl-4">
      <app-incident [headerInfo]="{color: '#f66355', name:'High Security Risks'}"
                    [incidents]="getIncidents('high')"></app-incident>
    </div>
    <div class="col-xl-4">
      <app-incident [headerInfo]="{color: '#ffb44d', name:'Medium Security Risks'}"
                    [incidents]="getIncidents('medium')"></app-incident>
    </div>
    <div class="col-xl-4">
      <app-incident [headerInfo]="{color: '#6dc193', name:'Low Security Risks'}"
                    [incidents]="getIncidents('low')"></app-incident>
    </div>
  </div>
</div>
