@import url("https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i");
@import "~bootstrap/scss/bootstrap";
@import "src/assets/scss/mixins";

$font-family: 'Poppins', sans-serif;

$fa-font-path: "../node_modules/font-awesome/fonts";
@import '~font-awesome/scss/font-awesome.scss';

html {
  max-height: 100vh;
  overflow: hidden;

  body {
    font-family: $font-family !important;
    background: #e2e2e2;
    margin: 87px 0 0 60px;

    @include lg-phone-only {
      margin-left: 0;
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  //color: #ffffff;
  margin: 0;
}

h1 {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

h2 {
  font-size: 25px;
  font-weight: 700;
}

h3 {
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
}

h4 {
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
}

h5 {
  font-size: 15px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}

h6 {
  font-size: 12px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}
