<table class="t01">
  <tr>
    <th>Academy sub-category</th>
  </tr>
  <tr>
    <th>Date Assigned</th>
    <th>Date started</th>
    <th>Date completed</th>
    <th>Teams</th>
    <th>Progress</th>
    <th>Time spent (in hrs)</th>
    <th>Review score</th>
    <th>Trainer review</th>
    <th>Certificate (Y/N)</th>
    <th>Quiz score</th>
    <th>Quiz attempts</th>
    <th>Status</th>
  </tr>
  <tr>
    <td>4/23/1978</td>
    <td>4/23/1978</td>
    <td>4/23/1978</td>
    <td>A</td>
    <td>0.7</td>
    <td>0.4</td>
    <td>0</td>
    <td>0</td>
    <td>N</td>
    <td>0</td>
    <td>0</td>
    <td>New</td>
  </tr>
  <tr>
    <td>4/24/1978</td>
    <td>4/24/1978</td>
    <td>4/24/1978</td>
    <td>B</td>
    <td>1</td>
    <td>1.15</td>
    <td>4</td>
    <td>5</td>
    <td>Y</td>
    <td>1</td>
    <td>1</td>
    <td>In progress</td>
  </tr>
  <tr>
    <td>4/25/1978</td>
    <td>4/25/1978</td>
    <td>4/25/1978</td>
    <td>C</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>N</td>
    <td>0</td>
    <td>0</td>
    <td>Done</td>
  </tr>
</table> <br/>

<table class="t01">
  <tr>
    <th>Academy average</th>
  </tr>
  <tr>
    <th>All teams</th>
    <th>Progress</th>
    <th>Time spent (in hrs)</th>
    <th>Review score</th>
    <th>Trainer review</th>
    <th>Quiz score</th>
    <th>Quiz attempts</th>
    <th>Total done</th>
  </tr>
  <tr>
    <td>A-B-C</td>
    <td>0.57</td>
    <td>0.52</td>
    <td>1.33</td>
    <td>1.67</td>
    <td>0.33</td>
    <td>0.33</td>
    <td>1</td>
  </tr>
</table>
