#academy-component {
  margin: 90px 15px;

  thead, tr, th, td {
    border: 1px solid black;
    font-size: 15px;
    padding: 5px 4px;
  }

  th {
    background-color: darkgreen;
    color: #ffffff;
  }
}

