<input type="file" #csvReader name="Upload CSV" id="txtFileUpload" (change)="uploadListener($event)" accept=".csv" />
<table class="table-responsive" *ngIf="records.length > 0">
  <thead>
  <tr>
    <th>Date Assigned </th>
    <th>Date Started </th>
    <th>Date Completed </th>
    <th>Teams </th>
    <th>Progress </th>
    <th>Time Spent(in hrs) </th>
    <th>Review Score </th>
    <th>Trainer Review </th>
    <th>Certificate(Y/N) </th>
    <th>Quiz Score </th>
    <th>Quiz Attempts </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let record of records;let i = index;">
    <td> <span>{{record.dateAssigned}}</span> </td>
    <td> <span>{{record.dateStarted}}</span> </td>
    <td> <span>{{record.dateCompleted}}</span> </td>
    <td> <span>{{record.teams}}</span> </td>
    <td> <span>{{record.progress}}</span> </td>
    <td> <span>{{record.timeSpent}}</span> </td>
    <td> <span>{{record.reviewScore}}</span> </td>
    <td> <span>{{record.trainerReview}}</span> </td>
    <td> <span>{{record.certificate}}</span> </td>
    <td> <span>{{record.quizScore}}</span> </td>
    <td> <span>{{record.quizAttempts}}</span> </td>
  </tr>
  </tbody>
</table>
