<div class="container-fluid dashboard">
  <div class="row">
    <div class="security-status">
      <div class="row">
        <div class="col-lg-4 status-text text-center">
          <h4>28%</h4>
          <h3>of total security reached</h3>
        </div>
        <div class="col-lg-8">
          <div class="progress">
            <div class="progress-bar" role="progressbar" [ngStyle]="{'width': '28%'}">28%</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row main-information">
    <div class="col-md-6 total-incidents">
      <div class="mx-3">
        hier is text
      </div>
    </div>
    <div class="col-md-3 department-information">
      <div class="mx-3">
        hier is text
      </div>
    </div>
    <div class="col-md-3 department-information">
      <div class="mx-3">
        hier is text
      </div>
    </div>
  </div>
  <div class="row specific-information">

  </div>
</div>
