$borderRadius: 6px;
$columnPadding: 8px 12px;

.dashboard {
  .security-status {
    width: 100%;
    padding: $columnPadding;
    background-color: #ff7465;
    border-radius: $borderRadius;

    .status-text {
      h4, h3 {
        margin: 0;
        display: inline;
      }
      h4 {
        font-size: 25px;
        font-weight: normal;
      }
      h3 {
        font-size: 50px;
        margin-right: 10px;
      }
    }

    .progress-wrapper {
      margin: auto;

      .progress {
        height: 8px;
      }
    }
  }

  .main-information {
    height: 25vh;
    margin-top: 40px;
    justify-content: space-between;

    .total-incidents {
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: $columnPadding;
      background-color: #189f48;
      border-radius: $borderRadius;

      span {
        font-weight: 600;
        font-size: 60px;
        line-height: 1;
      }
    }

    .department-information {
      text-align: left;
      background-color: #fff;
      padding: $columnPadding;
      border-radius: $borderRadius;

      h2 {
        padding: 5px;
        font-weight: normal;
      }

      .department-table-wrapper {
        max-height: 20vh;
        overflow-y: scroll;
      }
    }

    .active-departments {
      display: flex;
      text-align: center;
      align-items: center;
      background-color: #fff;
      justify-content: center;
      padding: $columnPadding;
      border-radius: $borderRadius;

      .text-wrapper {
        h1 {
          font-size: 60px;
          font-weight: 600;
        }
        h3 {
          color: #000;
          font-weight: normal;
        }
      }
    }
  }

  .specific-information {
    height: 25vh;
    margin-top: 40px;
    justify-content: space-between;

    .severity-risks {
      display: flex;
      flex-direction: column;
      background-color: #fff;
      padding: $columnPadding;
      border-radius: $borderRadius;

      .risks-header {
        font-size: 20px;
        position: relative;
        text-align: center;

        &::after {
          left: 0;
          right: 0;
          height: 2px;
          content: ' ';
          bottom: -5px;
          margin: 0 auto;
          position: absolute;
          background-color: rgba(0, 0, 0, 0.3);
        }
      }

      .risks-body {
        height: 100%;
        display: flex;
        justify-content: space-between;

        > div {
          width: 100%;
          display: flex;
          text-align: center;
          flex-direction: column;

          .risks-count  {
            margin: auto 0;
            font-size: 60px;
            position: relative;

            &::after {
              top: 0;
              right: 0;
              bottom: 0;
              width: 2px;
              content: ' ';
              margin: auto 0;
              position: absolute;
              background-color: rgba(0, 0, 0, 0.3);
            }
          }

          .risk-indicator {
            color: white;

            &.high-risk {
              background-color: #ff7464;
            }
            &.medium-risk {
              background-color: #ffc800;
            }
            &.low-risk {
              background-color: #189f48;
            }
          }
        }
      }
    }

    .academy-information {
      display: flex;
      text-align: center;
      align-items: center;
      background-color: #fff;
      padding: $columnPadding;
      justify-content: center;
      border-radius: $borderRadius;

      .academy-text {
        h1 {
          color: #000;
          font-size: 60px;
          font-weight: 600;
        }
        h4 {
          color: #000;
          font-size: 20px;
          font-weight: normal;
        }

        .academy-percentage-box {
          width: auto;
          color: #019e12;
          font-size: 18px;
          margin-top: 8px;
          padding: 2px 7px;
          border-radius: 5px;
          display: inline-table;
          border: 1px solid #019e12;
        }
      }
    }

    .incident-information {
      background-color: #fff;
      padding: $columnPadding;
      border-radius: $borderRadius;
    }
  }
}
