<div class="container-fluid dashboard-container">
  <div class="row security-status">
    <div class="security-status-wrapper">
      <span class="security-status-wrapper-percentage">{{this.totalReverseSecurity}}%</span>
      <span class="security-status-wrapper-text">of total defined security reached*</span>
    </div>
    <div class="status-settings" (click)="settingsExpanded = !settingsExpanded">
      <em class="fa fa-cog status-settings-wheel"></em>
    </div>
    <div class="progress" [ngClass]="{'expanded': settingsExpanded}">
      <div class="progress-bar" id="progressBar" role="progressbar" [ngStyle]="{'width': this.totalReverseSecurity + '%', 'transition': '0.5s', 'background-color': this.securityColor}"></div>
    </div>
  </div>
  <div class="row settings-wrapper">
    <div class="settings-wrapper-settings" [ngClass]="{'expanded': settingsExpanded}">
      <span class="spell-tag">
        <small>*Total defined security as calculated by the definitions below. Number does not represent actual corporate security.</small>
      </span>
      <div class="container-fluid">
        <div class="row">
          <label class="spell-input" title="Use the percentage from [incidents this month / incidents this year]">
            Incidents this month/Incidents this year
            <input type="checkbox" [(ngModel)]="calculateConfiguration.incidentMonthYearPercentage" (change)="calculateSecurityLevel()"/>
          </label>
          <label class="spell-input" title="Use the ratio from [open incidents / total incidents]">
            Open incident/Total incident
            <input type="checkbox" [(ngModel)]="calculateConfiguration.incidentOpenTotalRation" (change)="calculateSecurityLevel()"/>
          </label>
        </div>
        <div class="row">
          <label class="spell-input" title="High relative incident frequency on a department, relative to other departments. A lot of incidents on one department will bring the total security down.">
            High relative incident frequency on department
            <input type="checkbox" [(ngModel)]="calculateConfiguration.relativeHighIncidentDepartment" (change)="calculateSecurityLevel()"/>
          </label>
          <label class="spell-input" style="opacity: .6;" title="Use the DH Access ratio">
            DH Access Ratio
            <input type="checkbox" disabled/>
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="row dashboard-row" *ngIf="incidentsStats !== undefined && departmentStats !== undefined">
    <div class="col-md-4 total-incidents row-column" [routerLink]="['/dashboard/incidents/']">
      <div class="incidents-text-wrapper">
        <div class="open-number">{{incidentsStats.open}}</div>
        <div class="open-text">open</div>
        <div class="other-text">of {{incidentsStats.total}} total INCIDENTS</div>
      </div>
    </div>
    <div class="col-md-3 departments-incidents row-column">
      <h2>Department incidents</h2>
      <div class="departments-incidents-container" *ngFor="let stat of departmentStats">
        <div class="departments-incidents-box" [routerLink]="['/dashboard/departments/' + stat.department.cleanUrl]">
          <span>{{stat.department.department}}</span>
          <span>{{stat.open}}</span>
        </div>
      </div>
    </div>
    <div class="col-md-4 incident-information row-column">
      <div class="chart-item" *ngIf="lineData !== undefined">
        <app-line-chart [chart]="lineData"></app-line-chart>
      </div>
    </div>
  </div>
  <div class="row dashboard-row" *ngIf="incidentsStats !== undefined">
    <div class="col-md-3 active-departments row-column" [routerLink]="['/dashboard/departments/']">
      <div class="active-departments-wrapper">
        <h1>{{departmentStats.length}}</h1>
        <h3>Active Departments</h3>
      </div>
    </div>
    <div class="col-md-5 severity-risks row-column">
      <div class="risks-header">
        Number of risks
      </div>
      <div class="risks-body">
        <div>
          <div class="risks-count">{{incidentsStats.high}}</div>
          <div class="risks-indicator risks-high">HIGH</div>
        </div>
        <div>
          <div class="risks-count">{{incidentsStats.medium}}</div>
          <div class="risks-indicator risks-medium">MEDIUM</div>
        </div>
        <div>
          <div class="risks-count">{{incidentsStats.low}}</div>
          <div class="risks-indicator risks-low">LOW</div>
        </div>
      </div>
    </div>
    <div class="col-md-3 academy-information row-column" [routerLink]="['/dashboard/academy/']">
      <div>
        <h1>365</h1>
        <h4>Academy users last week</h4>
        <div class="academy-percentage-box">
          <em class="fa fa-caret-up"></em>
          <span> 25%</span>
        </div>
      </div>
    </div>
  </div>
</div>
