<nav (mouseenter)="this.toggleRetracted('nav')" (mouseleave)="this.toggleRetracted('nav')" class="navbar-expand">
  <div class="navbar-icons">
    <a href="/incidents">
      <div class="navbar-icon">
        <em class="fa fa-exclamation-circle"></em>
      </div>
    </a>
    <a href="/performances">
      <div class="navbar-icon">
        <em class="fa fa-tachometer"></em>
      </div>
    </a>
    <a href="/academy">
      <div class="navbar-icon">
        <em class="fa fa-university"></em>
      </div>
    </a>
  </div>
  <div class="navbar-items" [ngClass]="isRetracted ? '' : 'expanded'">
    <a href="/incidents">
      <span class="navbar-item">Incidents</span>
    </a>
    <a href="/performances">
      <span class="navbar-item">Performance</span>
    </a>
    <a href="/academy">
      <span class="navbar-item">Academy</span>
    </a>
  </div>
</nav>
