<nav (click)="this.toggleRetracted('nav')" class="navbar-expand">
  <div class="navbar-icons">
    <a href="#">
      <div class="navbar-icon">
        <em class="fa fa-user"></em>
      </div>
    </a>
    <a href="/incidents">
      <div class="navbar-icon">
        <em class="fa fa-user"></em>
      </div>
    </a>
    <a href="#">
      <div class="navbar-icon">
        <em class="fa fa-user"></em>
      </div>
    </a>
    <a href="#">
      <div class="navbar-icon">
        <em class="fa fa-user"></em>
      </div>
    </a>
  </div>
  <div class="navbar-items" [ngClass]="isRetracted ? '' : 'expanded'">
    <a href="#">
      <span class="navbar-item">User</span>
    </a>
    <a href="/incidents">
      <span class="navbar-item">User</span>
    </a>
    <a href="#">
      <span class="navbar-item">User</span>
    </a>
    <a href="#">
      <span class="navbar-item">User</span>
    </a>
  </div>
</nav>
