.navbar-expand {
  display: none;
  height: 100%;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.2s;

  .link-hanger {
    padding: 8px 20px;
    font-size: 25px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    transition: 0.3s;
    display: flex;
    justify-content: space-between;
    cursor: pointer;

    &:hover {
      opacity: .6;
    }

    a, em {
      color: #c2c2c2;
      text-decoration: none;
    }

    // TODO - Center EM static location
    em {
      margin-right: 25px;
      margin-top: 5px;
    }
  }

  .navbar-toggler {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    em {
      margin: 0 auto;
    }
  }
}

@media screen and (max-height: 450px) { // TODO - Create media constant
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

