@import "src/assets/scss/mixins";

.navbar-expand {
  //display:none;
  height: 100%;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.2s;

  .link-hanger {
    padding: 8px 20px;
    font-size: 25px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    transition: 0.3s;
    cursor: pointer;

    &.navbar-toggle {
      text-overflow: clip;
    }

    &:hover {
      opacity: .6;
    }

    a {
      display: flex;
      justify-content: space-between;
    }

    a, em {
      color: #c2c2c2;
      text-decoration: none;
    }

    // TODO - Center EM static location
    em {
      margin-right: 25px;
      margin-top: 5px;
    }
  }

  .navbar-toggle {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
  }
}

@media screen and (max-height: 450px) { // TODO - Create media constant
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

@include md-phone-only {
  .navbar-expand:not(.navbar-expanded) {
    height: auto;
    bottom: 0;
    top: initial;
    background-color: initial;

    .nav-links {
      display: none;
    }
  }
}
