@import "src/assets/scss/mixins";

.incidents {
  border-radius: 5px 5px 5px 5px;
  z-index: 0;
  display: block;
  height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  background-color: rgb(169, 169, 169, 0.6);
  margin: 15px 15px;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: grey;
  }

  .badge {
    float: right;
    margin-right: 8px;
  }

  &.high-incident {
    .box-header {
      background-color: red;
    }
  }

  &.middle-incident {
    .box-header {
      background-color: #ffb801;
    }
  }

  &.low-incident {
    .box-header {
      background-color: forestgreen;
    }
  }


  .box-header {
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    color: #ffffff;
    position: sticky;

    padding: 10px 0 10px 10px;
  }

  .message-container {

    .empty-message {
      text-align: center;
      width: auto;
      height: auto;
      border-radius: 5px;
      margin: 15px 2% 15px 2%;
      padding: 5px 5px 5px 5px;
    }

    .incident-message {
      width: auto;
      height: auto;
      border-radius: 5px;
      margin: 15px 2% 15px 2%;
      padding: 5px 5px 5px 5px;
      background-color: #ffffff;

      .message-text {
        p {
          margin-bottom: 0;
        }
      }

      .message-link {
        text-decoration: underline;
      }

      .message-icon {
        font-size: 32px;
      }
    }
  }
}

@include lg-phone-only {
  .incidents {
    width: auto;
    max-height: 500px;
    margin: 35px 10px;

    .message-container {
      .message-text {
        font-size: 14px;
      }

      .incident-message {
        .message-icon {
          font-size: 35px;
        }
      }
    }
  }
}
