@import "~src/assets/scss/mixins";
@import "~src/assets/scss/variables";

.incidents-box {
  z-index: 0;
  display: block;
  margin: 15px 15px;
  position: relative;

  &-header {
    color: #ffffff;
    padding: 10px 0 10px 10px;
    border-radius: $borderRadius $borderRadius 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    .badge {
      margin-right: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &-search {
    height: auto;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    input {
      background: var(--background-secondary-color);
      color: var(--text-secondary-color);
      border-radius: 0;
      border: none;
    }

    textarea:focus, input:focus {
      outline: none;
      box-shadow: none;
    }
  }

  &-body {
    height: 480px;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 0 0 $borderRadius $borderRadius;
    background: var(--inner-background-color);

    span {
      color: var(--text-primary-color);
    }

    @include md-phone-only {
      max-height: 400px;
    }

    .url-holder:hover {
      cursor: pointer;
      opacity: 0.8;
    }

    .closed {
      opacity: 0.3;
    }

    &::-webkit-scrollbar {
      width: 5px;

      &-track {
        box-shadow: inset 0 0 5px grey;
        border-radius: 10px;
      }

      &-thumb {
        background: grey;
      }
    }
  }

  &-item {
    font-size: medium;
    color: var(--text-secondary-color);
    border-radius: $borderRadius;
    margin: 15px 2%;
    padding: 5px;
    background: var(--content-background-color);

    &-header {
      display: flex;
      justify-content: space-between;
      width: 100%;
      font-size: small;
    }

    &-footer {
      font-size: small;
      color: var(--text-primary-color);
    }

    &-empty {
      width: auto;
      height: auto;
      color: #8c8c8c;
      font-size: 22px;
      text-align: center;
      border-radius: 0.25rem;
      margin: 15px 2%;
      padding: 5px;
    }
  }

  &-filter {
    position: absolute;
    right: 12px;
    background: var(--background-secondary-color);

    em {
      color: var(--text-secondary-color);
      margin-left: 5px;
      vertical-align: middle;
    }
  }
}
