<div class="incidents {{severityClass}}">
  <div class="box-header">
    <h4>{{headerText}}</h4>
  </div>

  <div class="message-container">
    <div class="incident-message" *ngFor="let message of messages">
      <div class="row">
        <div class="col-9 message-text">
          <p>{{message.name}}</p>
          <a class="message-link" href="#">Open reference in secure browser</a>
        </div>
        <div class="col-3 my-auto">
          <em class="message-icon fa {{severityIcon}}"></em>
        </div>
      </div>
    </div>
  </div>
</div>
