<div class="incidents">
  <div class="box-header" [ngStyle]="{'background-color':headerInfo.color}">
    <h4>{{headerInfo.name}} <span class="badge badge-pill badge-light">{{incidents.length}}</span></h4>
  </div>

  <div class="message-container">
    <div class="row incident-message" *ngFor="let incident of incidents">
      <div class="col-3 time-box">
        HEY
      </div>
      <div class="col-9 message-box">
        <p>{{incident.message}}</p>
        <p>{{incident.department}}</p>
      </div>
    </div>
    <div class="empty-message" *ngIf="incidents.length === 0">
      <p>No incidents found</p>
    </div>
  </div>
</div>
