@import "~src/assets/scss/mixins";

.incidents {
  z-index: 0;
  display: block;
  margin: 15px 15px;
  position: relative;

  .badge {
    float: right;
    margin-right: 8px;
  }

  .box-header {
    color: #ffffff;
    padding: 10px 0 10px 10px;
    border-radius: 5px 5px 0 0;
  }

  .message-container {
    height: 480px;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 0 0 5px 5px;
    background-color: rgb(209, 209, 209);

    .url-hold:hover {
      cursor: pointer;
      opacity: .8;
    }

    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px grey;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background: grey;
    }

    .empty-message {
      width: auto;
      height: auto;
      color: #8c8c8c;
      font-size: 22px;
      text-align: center;
      border-radius: 5px;
      margin: 15px 2% 15px 2%;
      padding: 5px 5px 5px 5px;
    }

    .incident-message {
      width: auto;
      height: auto;
      border-radius: 5px;
      margin: 15px 2% 15px 2%;
      padding: 5px 5px 5px 5px;
      background-color: #ffffff;
      display: flex;
      justify-content: space-between;
      div {
        color: #565656;
        font-size: small;
      }
      .box-text {
        width: 100%;
        font-size: medium;
        color: black;
      }
    }
  }
}

@include lg-phone-only {
  .incidents {
    width: auto;
    margin: 25px 10px;

    .message-container {
      .message-box {
        font-size: 14px;
      }

      .incident-message {
        .message-icon {
          font-size: 35px;
        }
      }
    }
  }
}

@include sm-phone-only {
  .incidents {
    width: auto;
    margin: 15px 10px;

    .box-header h4 {
      font-size: 15px;
    }

    .message-container {
      max-height: 400px;

      .message-box {
        font-size: 14px;
      }
    }
  }
}
