<div class="incidents">
  <div class="box-header" [ngStyle]="{'background-color':headerInfo.color}">
    <h4>{{headerInfo.name}} <span class="badge badge-pill badge-light">{{incidents.length}}</span></h4>
  </div>

  <div class="message-container">
    <div class="incident-message" *ngFor="let incident of incidents">
      <div class="message-text">
        <p>{{incident.message}}</p>
        <a class="message-link" href="#" *ngIf="this.incident.hasOwnProperty('url')">Open reference in secure
          browser</a>
      </div>
    </div>
    <div class="empty-message" *ngIf="incidents.length === 0">
      <p>No incidents found</p>
    </div>
  </div>
</div>
